.card {
    margin: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20vw;
    justify-content: space-between;
    align-items: center;
}
.pcard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
#img {
    width: 10vh;
}